/* Footer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px 0px 8px;
gap: 36px;

width: 1424px;
height: 264px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 1;


/* email */

width: 42px;
height: 24px;

font-family: 'Fira Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 160% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

/* Tuna/300 */
color: #B2B8C7;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* discord */

width: 59px;
height: 24px;

font-family: 'Fira Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 160% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

/* Tuna/300 */
color: #B2B8C7;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* github */

width: 51px;
height: 24px;

font-family: 'Fira Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 160% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

/* Tuna/300 */
color: #B2B8C7;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* linkedin */

width: 68px;
height: 24px;

font-family: 'Fira Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 160% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

/* Tuna/300 */
color: #B2B8C7;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* instagram */

width: 76px;
height: 24px;

font-family: 'Fira Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
/* or 160% */
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

/* Tuna/300 */
color: #B2B8C7;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
